@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav_link {
    color: #fafafa;
    font-weight: 500;
    font-size: 1.0625rem;
}

.nav_link:hover {
    color: #018FF5;
}