---
const { href, text = "Request Quotation", style } = Astro.props;
---

<a
  href={href}
  class={`bg-[#0077cc] hover:bg-[#0077d4] transition duration-300  px-6 py-4 rounded-full hover:shadow-xl cursor-pointer text-[#fafafa] font-semibold ${style}`}
>
  {text}
</a>
