<section class="py-16 md:py-20 bg-white text-dark">
  <div class="max-w-6xl mx-auto px-6">
    <div class="grid md:grid-cols-2 gap-10 items-center">
      <div>
        <span class="text-sm tracking-widest font-semibold text-[#018FF5]">
          REGULATORY COMPLIANCE
        </span>
        <h2
          class="mt-4 text-2xl md:text-3xl lg:text-4xl font-bold text-[#0F172A] leading-tights"
        >
          Fully Licensed & Authorized Fuel Distribution Operator
        </h2>
        <p class="mt-6 text-dark">
          PT Bumi Asri Prima Pratama operates under registered Indonesian
          business licensing (NIB) and Fuel Trading Authorization (Izin Niaga
          Umum), ensuring compliant, regulated, and structured fuel distribution
          operations nationwide.
        </p>
      </div>

      <div class="space-y-4">
        <div class="border border-[#018FF5] rounded-lg p-5">
          <p class="text-dark font-medium">
            <span class="text-[#018ff5]">✔</span> Registered Business Entity (NIB)
          </p>
        </div>
        <div class="border border-[#018FF5] rounded-lg p-5">
          <p class="text-dark font-medium">
            <span class="text-[#018ff5]">✔</span> Licensed Fuel Trading Authorization
            (INU)
          </p>
        </div>
        <div class="border border-[#018FF5] rounded-lg p-5">
          <p class="text-dark font-medium">
            <span class="text-[#018ff5]">✔</span> Compliance with National Fuel &
            Marine Standards
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
