---
import { Image } from "astro:assets";
import visionBg from "../assets/images/vision-bg.png";
import missionBg from "../assets/images/mission-bg.png";
---

<section class="px-[16px] md:px-[64px] lg:px-[80px] pb-8">
  <div class="px-[16px] md:px-[64px] lg:px-[80px] mx-auto">
    <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
      <!-- VISION -->
      <div class="relative rounded-3xl overflow-hidden group">
        <Image
          src={visionBg}
          alt="Fuel Distribution Vision"
          class="w-full h-[320px] object-cover"
        />

        <div
          class="absolute inset-0 flex flex-col items-center justify-center text-center px-8"
        >
          <h2
            class="text-white/90 text-2xl md:text-3xl lg:text-4xl font-bold leading-tights mb-6"
          >
            Our Vision
          </h2>

          <p
            class="text-white/90 leading-relaxed max-w-lg text-[15px] md:text-[16px]"
          >
            To become a trusted fuel distribution and marine energy partner
            recognized for operational excellence, reliability, and structured
            governance across Indonesia and international markets.
          </p>
        </div>
      </div>

      <!-- MISSION -->
      <div class="relative rounded-3xl overflow-hidden group">
        <Image
          src={missionBg}
          alt="Fuel Distribution Mission"
          class="w-full h-[320px] object-cover"
        />

        <div
          class="absolute inset-0 flex flex-col items-center justify-center text-center px-8"
        >
          <h2
            class="text-white/90 text-2xl md:text-3xl lg:text-4xl font-bold leading-tights mb-6"
          >
            Our Mission
          </h2>

          <p
            class="text-white/90 leading-relaxed max-w-lg text-[15px] md:text-[16px]"
          >
            To deliver High Speed Diesel (HSD), Marine Fuel Oil (MFO), bunker
            services, and floating storage solutions through disciplined
            operations, strategic logistics positioning, and consistent service
            standards.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
